/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #ddd;
    position: fixed;
    padding: 20px;
}

.logo-link {
    text-decoration: none; /* Remove underline */
}

.sidebar h2 {
    color: #004aad;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

.sidebar ul li.active {
    background: #e9ecef;
    font-weight: bold;
}

.settings {
    margin-top: 20px;
}

.settings a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}

/* Content */
.content {
    margin-left: 260px;
    padding: 15px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left h3 {
    margin: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.hospital-btn {
    text-decoration: none;
    color: #004aad;
    margin-right: 20px;
    font-weight: bold;
}

.user-profile {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.user-profile img {
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Dashboard */

.dashboard-overview {
    margin-top: 20px;
}

.summary-wrapper {
    background-color: #e9ecef;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
}

.summary-boxes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.summary-box {
    background-color: #f8d7da; /* Pink color */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 3in; 
    height: 2in; 
    display: flex;
    flex-direction: column;

}

/* Hover effect */
.summary-box:hover {
    transform: scale(1);  /* Slightly enlarge the box */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Increase shadow effect */
}

.summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    font-weight: bold;
}

.remaining-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
}

.patients-checkup {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;  
    width: 100%; 
}


.table th,
.table td {
    vertical-align: middle !important;
    text-align: center;
}
