/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #ddd;
    position: fixed;
    padding: 20px;
}

.logo-link {
    text-decoration: none; /* Remove underline */
}

.sidebar h2 {
    color: #004aad;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

.sidebar ul li.active {
    background: #e9ecef;
    font-weight: bold;
}

.settings {
    margin-top: 20px;
}

.settings a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}

/* Content */
.content {
    margin-left: 260px;
    padding: 15px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left h3 {
    margin: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.hospital-btn {
    text-decoration: none;
    color: #004aad;
    margin-right: 20px;
    font-weight: bold;
}

.user-profile {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.user-profile img {
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Doctor Form */
.doctor-form {
    margin-top: 20px;
}

/* Back Link */
.back-link {
    text-decoration: none;
    color: #004aad;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

/* Form Section */
.section-title {
    font-size: 30px; /* increased from 20px */
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.doctor-form-content {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #004aad;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.update-btn {
    background-color: #007bff;
}
